<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">
                        <a data-toggle="collapse" href="#collapse1" id="parTitle">Client List</a>
                    </h3>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body"><h1> @Html.ActionLink("List of Clients", "AllClients", "Client")</h1></div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>