@model Review
@{
    ViewBag.Title = "Edit Review";
    Layout = "_Layout2";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>

    <script type="text/javascript">
        function timeFunction() {
            alert("Checked is Approved -- Unchecked is Not Approved")
        }

    </script>
    <button onclick="setTimeout(timeFunction, 1000);" class="positioner btn btn-primary">How it works</button>

    <form asp-action="EditReview" method="post" class="erForm">
        <input type="hidden" asp-for="ReviewID" name="ReviewID" value="@ViewBag.ReviewID" />
     
        <div class="col-md-2">
            <div class="form-group text-center">
                <label asp-for="Approved">Approved?:</label>
                <div><span asp-validation-for="Approved"></span></div>
                <input asp-for="Approved" class="form-control" id="Checkbox1" type="checkbox" />
            </div>
        </div>

            <div><span asp-validation-for="Subject" class="text-danger"></span></div>
            <input type="hidden" asp-for="Subject" class="form-control" />
     

            <div><span asp-validation-for="Body" class="text-danger"></span></div>
            <input type="hidden" asp-for="Body" class="form-control" />
   
                <input type="hidden" asp-for="Date" name="Date" />
           
            <div class="text-center">
                <button class="btn btn-primary" type="submit">Save</button>
                <a asp-action="ReviewPanel" asp-controller="Admin" class="btn btn-default">Cancel</a>
            </div>
    </form>

</body>
</html>
