
@{
    ViewBag.Title = "About";
    Layout = "_Layout2";
}

<div class="container" >
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 ASFDiv" id="">
            <h2 class="ASFTitle">Thank you for visiting!</h2>
            

            <p>
                Hello, we are a family run residential construction company, that provides services in remodeling, concrete,
                and timberframe services located in bueatiful Canby, OR.<br />
                We have been providing superior service to the
                surronding areas since 2011. <br />
                If you are interested in contacting us you can<br />
                Call (406) 381-1893 or email
                <a href="mailto:millerccinc@yahoo.com">millerccinc@yahoo.com</a>


                <br />
                Licensed, bonded & insured
                CCB # 194431




            </p>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>