@model CapStoneProject.Models.ViewModels.VMLogin
@{
    ViewBag.Title = "Login";
    Layout = "_Layout2";
}


 

<h2>Login</h2>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Login" method="post">
    <p>
        <label asp-for="UserName">Email</label><br />
        <input asp-for="UserName" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </p>

    <p>
        <label asp-for="Password"></label><br />
        <input type="password" asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </p>

    <button type="submit">Login</button>
</form>
