@{
    Layout = "_Layout2";
}

<!DOCTYPE html>

<html>
<head>
    <title>Thank You</title>
</head>
<body>
    <div id="RAP">
        
        <p>Thank you for makeing a review.</p>
        <p>We at Miller Consturction appericate your feedback</p>
        <p>Your review will be reviewed.</p>
        </div>
 
</body>
</html>