@model Client

<div class="modal-header" id="userPageDiv">
    <h4 class="modal-title">Upload Invoice for @Model.FirstName @Model.LastName</h4>
    <div class="modal-body">
        <form method="post" asp-action="Index" asp-controller="Invoice" enctype="multipart/form-data">
            <input type="file" name="files" multiple />
            <input asp-for="ClientID" type="hidden" class="form-control" />
        </form>
    </div>
    <div class="modal-footer">
        <input type="submit" value="Upload" />
    </div>
</div>