@font-face {
    font-family: Bauhaus-93_6274;
    src: url('/fonts/Bauhaus-93_6274.ttf');
}
@font-face
{
font-family: Baumans-Regular;
src: url('/fonts/Baumans-Regular.ttf');
}



body {
     font-family: Baumans-Regular, Times, serif; 
}

.navbar-default .navbar-toggle {
  border-color: transparent;  
  float: left;  
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;  
}

/*Navigation Section Css*/
#brandDiv{
    padding-bottom: 100px;
}
#navUL {
    padding-top: 50px;
}

#innerNavLI1, #innerNavLI2, #innerNavLI3,#innerNavLI4,#innerNavLI5{
    color: red;
}

#navDiv{
    font-family: Bauhaus-93_6274;
    background-color: black;
    color: red;
    margin-bottom: 0px;
    padding-top: 0px;
    border-bottom: 0px;
    border-radius: 0px;
}

#logoImg{
    max-width: 100px;
}


.navbar a {
    font-size: 150%;
    color: red;
    background-color: black; 
}

/*Footer Section*/
#footDiv{
    font-family: Bauhaus-93_6274;
    font-size: 200%;
    background-color: black;
    color: red;
}

#rtFtDiv{
    padding-top: 15px;
}

#footBelow{
    font-size: 50%;
}

.welcome{
    color: blanchedalmond;
}
.MCCTitle{
    color: red;
    font-size: 110%;
}

.socFtr{
    padding: 10px;
    font-size: 60px;
    color: blanchedalmond;
}

/*Home Page Section*/
#myCarousel{
    margin-top: 0px;
    padding-top: 0px;
    
}

.index{
    margin-left: auto;
    margin-right: auto;
    min-width: 70%;
    max-height: 400px;
}


#missionDiv {
    background: url('../images/concrete1_1.jpg') no-repeat center center fixed;
    height: 350px;
    min-width: 97%;
    margin: 20px;
    margin-left: 20px;
    margin-right: 15px;
    border-radius: 10px;
}

#statementDiv{
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.50);
    margin-top: 50px;
    padding: 20px;
    border-radius: 5px;
    font-size: 200%;
}

/*Layout2 Section, all other pages*/

#layoutDiv{
    background: url('../images/concrete1_1.jpg') no-repeat center center fixed;
    font-family: Baumans-Regular;
    margin: 0px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
    min-height: 600px;
}

/*All Forms Change html*/
.formDiv{
    background: url('../images/concrete1_1.jpg') no-repeat center center fixed;
    font-family: Baumans-Regular;
    margin: 0px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
    min-height: 500px;
}


#userPageDiv{
    background: url('../images/concrete1_1.jpg') no-repeat center center fixed;
    font-family: Baumans-Regular;
    margin: 0px;
    width: 100%;
    padding-top: 20px;
    padding-left: 33%;
    padding-bottom: 50px;
    min-height: 500px;
    
}

#interiorDiv{
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.75);  
    padding: 20px;
    border-radius: 5px;
}

#bidCustDiv{
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.75);  
    padding: 20px;
    border-radius: 5px;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: antiquewhite; 
 }
.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: white; 
 }

/*Bid Request Section*/
#BRtitle {
    font-family: Bauhaus-93_6274;
}
#brLogTitle{
    padding: 10px;
    margin-bottom: 20px;
    text-shadow: .5px .5px .5px #000000;
}
#brloginFrm{
    text-align: center; 
    font-size: 20px;
    color:tan;
    text-shadow: .5px .5px .5px #000000;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.75);  
    margin-top: 50px;
    padding: 20px;
    border-radius: 5px;
}

/*Partial Views*/
#parTitle{
    font-family: Bauhaus-93_6274;
    font-size: 30px;
    padding: 10px;
}

/*Refactoring About, Services and FAQ Section*/
.ASFTitle{
    text-align: center;
    font-family: Bauhaus-93_6274;
    color: tan;
    padding: 5px;
    text-shadow: .5px .5px .5px #000000;
}
.ASFDiv{
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.75); 
    margin-top: 50px; 
    padding: 20px;
    border-radius: 5px;
    font-family: Arial;
    font-size: 2em;
}

.servPnl{
    margin:0!important;
    border-radius: 0!important;
}



/*Review Page Section*/
#reviewDiv{
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.75);  
    padding: 20px;
    border-radius: 5px;
}

#messageDiv{
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.75);  
    padding: 20px;
    border-radius: 5px;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

.glyphicon-glyphicon-time:after {
  margin-right: 5px;
}

/*Gallery Page Section*/
#galIndexRow{
    padding-top: 20px;
}

.galIntro{
    border-radius: 5px;
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
}

img:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
 
}

.galHeading{
    text-align: center;
    font-family: Baumans-Regular;
    color: antiquewhite;
    padding: 5px;
    text-shadow: 1.2px 1.2px 1.2px black;
}


.galCaroImg{
    margin-left: auto;
    margin-right: auto;
    max-height: 550px;
    border-radius: 7px;
    -moz-box-shadow:10px 10px 15px grey;
    -webkit-box-shadow: 10px 10px 15px grey;
    box-shadow: 10px 10px 30px grey;
    margin-bottom: 20px;
}



/*figure out where this is.....*/
#RAP {
    align-content: center;
    text-align: center;
    background: #99badd; 
    padding-bottom: 150px;
    padding-top: 150px;
    font-size: large;
}


/*Login Section*/
#LogTitle{
    padding: 10px;
    margin-bottom: 20px;
    text-shadow: .5px .5px .5px #000000;
}
#loginFrm{
    text-align: center; 
    font-size: 20px;
    color:tan;
    text-shadow: .5px .5px .5px #000000;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.75);  
    margin-top: 50px;
    padding: 20px;
    border-radius: 5px;
}



/*User Page Section*/
#userUpdateFrm{
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}





/*Joel Section :)*/


.middle {
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    padding-left: 100px;
    padding-right: 100px;
    align-content: center;
    text-align: center;
}

.erForm {
    padding-left: 500px;
    padding-right: 400px;
    padding-top: 100px;
    height: 404px;
    font-size: x-large
}
.positioner{
    position: relative;
    left: 695px;
    top: 210px;
    font-size: x-large;
}

#UserErrorMessage{
    font-size: x-large;
    text-align: center;
}



/*Admin and UserPages*/


@media (min-width: 1400px){
    .container{
        width: 1200px;
        margin: 0px;
        padding: 0px;
        border: 0px;
        margin-left: auto;
        margin-right: auto;
     }
}
@media (min-width: 1200px){
    .container{
        width: 950px;
        margin: 0px;
        padding: 0px;
        border: 0px;
        margin-left: auto;
        margin-right: auto;
     }
}
@media (max-width: 992px){
    .container{
        width: 900px;
        margin: 0px;
        padding: 0px;
        border: 0px;
        margin-left: auto;
        margin-right: auto;
     }
}
@media  (max-width: 968px){
    .container{
        width: 700px;
        margin: 0px;
        padding: 0px;
        border: 0px;
        margin-left: auto;
        margin-right: auto;
     }
}
@media (max-width: 750px){
    .container{
        width: 600px;
        margin: 0px;
        padding: 0px;
        border: 0px;
        margin-left: auto;
        margin-right: auto;
     }
}
@media (max-width: 650px){
    .container{
        width: 500px;
        margin: 0px;
        padding: 0px;
        border: 0px;
        margin-left: auto;
        margin-right: auto;
     }
}


@media screen and (max-width: 500px) {
    #navDiv{
        min-width: 550px;
    }

    #myCarousel {
        
        min-width: 550px;
        
        margin-left: auto;
        margin-right: auto;
    }

    .index{ 
        min-height: 300px;
        max-height: 300px;
        height: 200%; 
        width: 100%;  
    }

    #missionDiv {
        background: url('../images/concrete1_1.jpg') no-repeat center center fixed;
        height:100%;
        border-radius: 10px;
        
    }

    #statementDiv{
        background: rgb(255, 255, 255);
        background: rgba(255, 255, 255, 0.50);
        border-radius: 5px;
        
    }

    #footDiv{
        min-width: 550px;
    }
    #layoutDiv{
         min-width: 550px;
        height: 200%;
    }
    
}

/*Attributions: fonts free from http://www.1001fonts.com/google-web+bauhaus-fonts.html and http://freakfonts.com/fonts/bauhaus9357950.html */