
@{
    ViewBag.Title = "Services";
    Layout = "_Layout2";
}

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 ASFDiv" id="">
            <h1 class="ASFTitle">Services</h1>

            <div class="panel-group" id="accordion">
                <div class="panel panel-default servPnl">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Concrete</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                           
                        </div>
                    </div>
                </div>
                <div class="panel panel-default servPnl">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Timberframe</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            
                        </div>
                    </div>
                </div>
                <div class="panel panel-default servPnl">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">New Construction</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                           
                        </div>
                    </div>
                </div>
                <div class="panel panel-default servPnl">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Remodels</a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>
                <div class="panel panel-default servPnl">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Additions</a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>
                <div class="panel panel-default servPnl">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collaps6">Custom Carpentry</a>
                        </h4>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>




        </div>
        <div class="col-lg-2"></div>
    </div>
</div>

