
@{
    ViewBag.Title = "FAQ";
    Layout = "_Layout2";
}

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 ASFDiv" id="">
            <h2 class="ASFTitle">Frequently Asked Questions</h2>
            <ul class="list-group">
                <li class="list-group-item">What is your average timeline schedule for a house to be built?<br />
                        Our homes take 16 weeks on average to complete. </li>
                <li class="list-group-item">Does Miller Construction act as a general contractor on its projects?<br />
                        Yes.</li>
                <li class="list-group-item">Do you recycle construction waste?<br />
                    Yes – we recycle all our wood waste, recyclable plastic and cardboard.</li>
                <li class="list-group-item">Do you use green building materials?<br />
                        When we can based on customer wishes.</li>
                <li class="list-group-item">Can you act as an architect?<br />
                    No.</li>
            </ul>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>