
@{
    ViewBag.Title = "FAQ";
    Layout = "_Layout2";
}

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 ASFDiv" id="">
            <h2 class="ASFTitle">Frequently Asked Questions</h2>
            <ul class="list-group">
                <li class="list-group-item">How many years experience do you have?<br />
                        Moe has over 22 years of construction experience. </li>
                <li class="list-group-item">Do you ever use OSB(Oriented strand board)?<br />
                        Never.</li>
                <li class="list-group-item">What is the estimated time for a project?<br />
                    We can not give an estimate before we discuss the project in person. All project times differ based on permits needed, 
                    the desired materials, location and even weather can effect the time frame. We are happy to discuss the desired time frame 
                    when we evaluate your quote request.</li>
                <li class="list-group-item">Do you use green building materials?<br />
                        We are happy to use green materials when the client requests it.</li>
                <li class="list-group-item">Will my concrete crack?<br />
                    Unfortunately, probably. Concrete cracks because water is it's enemy, and we live in a wet climate.
                    The ground shifts, which can also cause cracks. However, we always use rebar to minimize our concrete lifting and separating.</li>
            </ul>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>