<!DOCTYPE html>

<html>
<head>
    
    <title>@ViewBag.Title</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />

    <link href="~/css/customCss.css" rel="stylesheet" />

    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    

</head>
<body>


    <nav class="navbar" id="navDiv" role="navigation">
        <div class="container-fluid">

                <a class="navbar-brand" href="">
                    
                    <img src="~/images/Logo2.jpg"  alt="logo" id="logoImg">
                </a>
             <div class="collapse navbar-collapse" id="">

                    <ul class="nav navbar-nav navbar-right" id="navUL">
                        <li class=""><a asp-action="Index" asp-controller="Home">Request a Quote</a></li>
                        <li class="dropdown open">
                            <a asp-action="YourVeg" asp-controller="List" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Services<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a id="txt" href="portfolio-1-col.html">1 Column Portfolio</a>
                                </li>
                                <li>
                                    <a id="txt" href="portfolio-2-col.html">2 Column Portfolio</a>
                                </li>
                            </ul>
                        </li>
                        <li class=""><a asp-action="Design" asp-controller="Design">About</a></li>
                        <li class=""><a asp-action="Design" asp-controller="Design">FAQ</a></li>
                        <li class=""><a asp-action="AllReviews" asp-controller="Review">Reviews</a></li>
                        <li class=""><a asp-action="Design" asp-controller="Design">Gallery</a></li>
                        <li><a asp-action="Login" asp-controller="Login">Login</a></li>
                    </ul>
                </div>
            </div>
    </nav>

    <div>
        @RenderBody()
    </div>

    <footer class="footer container-fluid text-center navbar-fixed-bottom" id="footDiv">
        <div class="container">
            <div class="row">
                
                    <div class="col-md-4 footDiv">
                        <h3>Servicing</h3>
                        <p>
                            Canby, OR and
                            <br /> surrounding areas.
                        </p>
                    </div>
                    <div class="col-md-4 footDiv">
                        <h3>links</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Facebook</span><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Instagram</span><i class="fa fa-fw fa-instagram"></i></a>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="col-md-4 footDiv">
                        <h3>Admin Login</h3>
                       
                    </div>
                
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row" id="footBelow">
                    <div class="col-lg-12">
                        Copyright © Team Capstone 2017
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
