@{
    ViewBag.Title = "Confirm Email";
    Layout = "_Layout2";
}

<div class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <h2><bold>Miller Custome Construction Inc.</bold></h2>
            <h3>Email Confirmed</h3>
            <div>
                <p>Your Email was confirmed</p>
            </div>
        </div>
    </div>
</div>