@model CapStoneProject.Models.ViewModels.VMLoginModel

@{
    Layout = "_Layout2";
}


<div class="container">
    <div class="row">

        <div class="col-lg-2"></div>
        <div class="col-lg-8" id="loginFrm">
            <form asp-controller="Account" asp-action="Login" method="post" class="">
                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                <h3 id="LogTitle">Please sign in.</h3>
                <div class="col-md-5">
                    <div class="form-group">
                        <input asp-for="Email" class="form-control" placeholder="Email:" required />
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <input asp-for="Password" class="form-control" placeholder="Password:" type="password" required />
                    </div>
                </div>
                <div class="col-lg-2">
                    <button class="btn btn-success" type="submit">Log In</button>
                </div>
            </form>
            <a class="btn btn-link"
               onclick="location.href='@Url.Action("ForgotPassword", "Account")'">
                <span>Forgot Password</span>
            </a>
            <br />
            <br />
            <h3>Otherwise, please click <a href="@Url.Action("BidRequest", "BidRequest")">here</a> to make an account.</h3>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>


