@model VMCreateProject
@{
    ViewBag.Title = "Edit Project";
}

<h1 class="text-center">Edit Project:</h1>
<form asp-controller="Project" asp-action="EditProject" method="post">
    <div class="form-group">
        <h3>Client E-mail</h3>
        <div><span asp-validation-for="Email" class="text-danger"></span></div>
        <input asp-for="Email" class="form-control" disabled /><br />
    </div>
    <div class="form-group">
        <h3>Client Last Name</h3>
        <div><span asp-validation-for="LastName" class="text-danger"></span></div>
        <input asp-for="LastName" class="form-control" disabled /><br />
    </div>
    <div class="form-group">
        <h3>Project Name</h3>
        <div><span asp-validation-for="ProjectName" class="text-danger"></span></div>
        <input asp-for="ProjectName" class="form-control" disabled /><br />
    </div>
    <div class="form-group">
        <h3>Estimated Cost</h3>
        <div><span asp-validation-for="Estimate" class="text-danger"></span></div>
        <input asp-for="Estimate" class="form-control" /><br />
    </div>
    <div class="form-group">
        <h3>Start Date</h3>
        <div><span asp-validation-for="StartDate" class="text-danger"></span></div>
        <input asp-for="StartDate" class="form-control" /><br />
    </div>
    <div class="form-group">
        <h3>Start Date</h3>
        <div><span asp-validation-for="Status" class="text-danger"></span></div>
        <input asp-for="Status" class="form-control" /><br />
    </div>
    <div class="form-group">
        <h3>Start Date</h3>
        <div><span asp-validation-for="StatusDate" class="text-danger"></span></div>
        <input asp-for="StatusDate" class="form-control" /><br />
    </div>
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Post" />
    </div>
</form>
