@{
    Layout = "_Layout2";
}

<div class="container formDiv">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <h3>We are sorry something seems to have gone wrong. Please contact your webmaster.</h3>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
