
@{
    ViewBag.Title = "About";
    Layout = "_Layout2";
}

<div class="container" >
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 ASFDiv" id="">
            
            

            <p>
                Hello!<br />
                Miller Custom Construction, Inc. is a small, family run residential construction company that
                provides remodeling, concrete, new construction and Timberframe services in the beautiful 
                Clackamas County area. With over 20 years experience, we pride ourselves in excellent quality and client 
                satisfaction.
                If you would like more information, please contact Moe at (406)381-1893 or
                <a href="mailto:millerccinc@yahoo.com">millerccinc@yahoo.com</a>
                or visit our Facebook page and send us a message!
                <h2 class="ASFTitle">Thank you for visiting!</h2>

                <br />
                <h4 class="text-center">Licensed, bonded & insured CCB # 194431</h4>
                




            </p>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>