@{
    ViewData["Title"] = "Home";
    Layout = "_Layout1";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <p>Hello World</p>
</body>
</html>
