@model List<Invoice>

<div class="container" id="formDiv">
    @*@foreach (Invoice i in Model)
        {
            <img src="~/invoices/@i.InvoiceFilename" />
        }*@

    @foreach (Invoice i in Model)
    {
        <a asp-action="Download" asp-controller="Invoice" asp-route-fname=@i.InvoiceFilename>Download</a> <br>
    }
</div>