@model VMLogin
@{
}

<div class="row" id="brloginFrm">
    <form asp-controller="Account" asp-action="BRLogin" method="post" class="">
        <h4>If you have already created an account with us, please sign in, otherwise proceed with the form below.</h4>
        <div class="col-md-5">
            <div class="form-group">
                <input asp-for="UserName" class="form-control" placeholder="Email:" required />
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <input asp-for="Password" class="form-control" placeholder="Password:" type="password" required />
            </div>
        </div>
        <div class="col-lg-2">
            <button class="btn btn-success" type="submit">Log In</button>
        </div>
    </form>
</div>