@{
    ViewBag.Title = "Success";
    Layout = "_Layout2";
}
<div id="successDiv">
    <div class="col-lg-3"></div>
    <div class="col-lg-6" id="messageDiv">
        Thank you for sending a request for a quote. We will contact within two business days.
    </div>
    <div class="col-lg-3"></div>
</div>